// button 
.btn {
  width: 185px;
  padding: 12px 24px;
  border-radius: 32px;

  &-white {
    background-color: white;
    color: black;

    &:hover {
      background-color: black;
      color: #00FFA3;
      outline: 1px solid #00FFA3;
    }
  }

  &-dark {
    background-color: black;
    color: white;

    &:hover {
        background-color: white;
        color: black;
        outline: 1px solid black;
      }
  }
}